.navbar {
	position: relative;
	z-index: 1;
}

.navbar .navbar-brand {
	font-size: 30px;
}

.jumbotron {
	background-image: url("../img/background.jpg");
	background-size: cover;
	width: 100%;
	height: 540px;
	text-align: center;
	position: relative;
	z-index: 0;
}

.jumbotron .container {
	position: relative;
	z-index: 1;
}

.jumbotron::after {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.2);
	position: absolute;
	bottom: 0;
}

.jumbotron .display-4 {
	color: white;
	margin-top: 170px;
	font-weight: 200;
	font-size: 30px;
	margin-bottom: 30px;
}

.jumbotron .display-4 span{
	font-weight: 500;
}

/* Info Panel */
.info-panel {
	background: white;
	box-shadow: 0 3px 20px rgba(0,0,0,0.5);
	border-radius: 12px;
	margin-top: -100px;
	padding: 30px;
}

.info-panel img {
	width: 80px;
	height: 80px;
	margin-right: 20px;
}

.info-panel h4 {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 5px;
}

.info-panel p {
	font-size: 14px;
	color: #acacac;
	margin-top: -5px;
	font-weight: 200;
}

/* Working Space */
.workingspace {
	margin-top: 120px;
	margin-bottom: 20px;
	text-align: center;
}

.workingspace h4 {
	font-size: 65px;
	font-weight: 200;
	text-transform: uppercase;
	margin-top: 20px;
}

.workingspace h4 span {
	font-weight: 500; 
}

.workingspace p {
	margin-top: 40px;
	margin-bottom: 40px;
	color: #acacac;
}

.news {
	margin-top: 120px;

}

.thumb img {
	width: 250px;
	height: 170px;
	margin: 15px;
	transition: 1s;
}

.thumb:hover img {
	transform: scale(1.1);
}

.news-detail .box {
	padding: 20px;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
	border-radius: 5px;
}


.caption {
	margin: 15px;
}

.caption p {
	color: #acacac;
	font-size: 13px;
}

.caption h6 {
	text-transform: capitalize;
}

.caption a {
	float: right;
	text-decoration: none;
	color: black;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}

.footer {
	margin-top: 50px;
	height: 120px;
	width: 100%;
	background: rgba(0,0,0,0.6);
}

/* Utility */
.tombol {
	text-transform: uppercase;
	border-radius: 40px;
}

/* DEKSTOP VERSION */
@media (min-width: 992px) {

.navbar .navbar-brand{
	color: white;
	font-weight: 500;
}

.navbar .navbar-nav .nav-link {
	color: white;
	margin-right: 30px;
	text-transform: uppercase;
}

.nav-link:hover::after {
	content: '';
	display: block;
	border-bottom: 3px solid salmon;
	width: 50%;
	margin: auto;
	padding-bottom: 5px;
	margin-bottom: -8px;
}

.jumbotron { 
	margin-top: -75px;
	height: 700px;
}

.jumbotron .display-4 {
	font-size: 60px;
}

.workingspace {
	text-align: left;
}


}